extends info

block details
    form(id='changePassword', action='/usr/' + customer.Username + '/change-password', method='POST')
        label(for='current-password') Mật khẩu hiện tại
        input(type='password', id='current-password', name='currentPassword', placeholder='Nhập mật khẩu hiện tại' required=true)
        br
        label(for='new-password') Mật khẩu mới
        input(type='password', id='new-password', name='newPassword', placeholder='Mật khẩu mới' required=true)
        br
        label(for='confirm-password') Xác nhận mật khẩu mới
        input(type='password', id='confirm-password', name='repeatPassword', placeholder='Nhập lại mật khẩu mới' required=true)
        br
        button.btn.btn-default(type='submit') Thay đổi mật khẩu