extends layout

block content
    section
        .container
            .row
                h2.title.text-center
                    =title
                //title here. no duplicate
                //if navList
                .col-sm-3
                    // nav-bar
                    .left-sidebar
                        #accordian.panel-group.category-products
                            each nav in navList
                                .panel.panel-default
                                    .panel-heading
                                        h4.panel-title
                                            a(href='#')= nav.name
                    ///nav-bar

                .col-sm-9
                    .blog-post-area
                        .single-blog-post
                            //h2= title
                            h3 Đang hoàn thiện

                            //a(href='#')
                                img(src='#', alt='Image')
                            p Vui lòng quay lại sau nhé
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br
                            br


